:root {
    --main-color: #d3ad7f;
    --black: #13131a;
    --bg: #010103;
    --border: 0.1 rem solid rgba(255,255,255,0.3);
    --text: #fff;
    font-size: 10px;
}
* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body{
    background-color: var(--bg);
}

section {
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 1200px;
}

.header{
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    border-bottom: var(--border);
}

.header section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.navbar a {
    margin: 1rem;
    font-size: 1.7rem;
    color: var(--text);
}

.navbar a:hover {
    color: var(--main-color);
    border-bottom: 0.1rem solid var(--main-color);
    padding-bottom: 0.5rem;
    font-size: 2rem;
}

.icons img{
    margin: 1rem;
    cursor: pointer;
}

.icons img:hover {
    width: 40px;
    height: 40px;
}

.botton {
    background: var(--main-color);
    color: #fff;
    padding: 2rem 3rem;
    display: inline-block;
    font-size: 1.7rem;
    cursor: pointer;
    margin-top: 1rem;
}

.home-container {
    background: url('./Images/home-img.jpg');
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.content {
    max-width: 60rem;
    color: var(--text);
    font-size: 1.7rem;
}

.content h3 {
    color: var(--text);
    font-size: 6rem;
}

.content p {
    color: var(--text);
    font-size: 2rem;
    font-weight: 300;
}